@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    PwC Dallas<br />
    2121 N Pearl St, Dallas TX - 75201<br />
    <abbr title="Phone">P:</abbr>
    (214) 999-1400
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">manh.le@pwc.com</a><br />
    <strong>DEV:</strong> <a href="mailto:Marketing@example.com">manh.le@pwc.com</a>
</address>
